body {
    font-family: 'Satoshi', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030A24;
    color: white;
}

.navbar {
    font-family: 'Cabinet Grotesk', sans-serif;
    position: fixed;
    font-size: 1rem;
    width: 100%;
    padding: 1.5rem 8%;
    display: flex;
    align-items: center;
    z-index: 90;
    font-weight: 900;
    color: white;
}

.navbar-brand {
    color: white;
    padding: 1.5rem 8%;
    font-size: 1rem;
    font-family: 'Cabinet Grotesk', sans-serif;
}

.intro-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(assets/hurdles.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: .5s ease;

}

.card-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -90px;
    z-index: 3;
    padding: 0 1rem;
}

.card {
    background: white;
    width: 100%;
    max-width: 1500px;
    padding: 3rem;
    border-radius: 20px;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.card p {
    color: #444;
    line-height: 1.6;
}





